@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

/* #banner {
  width: 100%;
  height: 220px;
  background-image: url('../img/bg-img.jpg');
} */

body {
	font-family: 'Source Sans Pro', sans-serif;
	height: 100%;
	background-color: #505050;

}

#mainPage{
	background-color: #505050;
	height: 100%;
}

.white{
	color:white;
}

.white a:link{
	color:#f57f17;
}

.fileName{
  height:27px;
  padding-top: 13px;
}

.progress {
  height:20px;
  margin-bottom:0;
}

.progressBar {
  width:50%;
  height:30px;
  float:left;
  padding-top:10px;
}

.fileBtn{
  padding-top: 5px;
  padding-left: 20px;
  padding-right:10px;
  width:120px;
  height:35px;
  float:right;
}

.fileRow{
  height:40px;
  border-color:#A9A9A9;
  border-bottom-style: dotted;
  border-width: 1px;
}

#fileTable{
  border-color:#A9A9A9;
  border-top-style: dotted;
  border-top-width: 1px;
  margin-bottom: 20px;
}


.loadingImage{

}

.errorMsg{
  font-size:18px;
  color: red;
}

.errorNote{
  font-size: 19px;
  font-weight: bold;
}

.submissionPage{
  height: 452px;
}

#dropzone {
  font-weight: bold;
}

#dropzone.in {

  font-size: larger;
}

#dropzone.hover {
  background: darkgrey;
}

#dropzone.fade {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 1;
}

#dropText{
  text-align: center;
}

#loadingImage {
  background-image: url('../libs/loading.gif');
  background-repeat: no-repeat;
  display: block;
  float: left;
  width: 35px;
  height: 35px;
}

dl {
  clear: both;
}
 #button {
	 background-color: #f57f17;
	 background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f57f17), to(#f57f17));
 }
